#logo-form {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75px;
    height: auto;
}

.session-form {
    padding: 100px;
    font-family: sans-serif;
    h2, h3, form > input, p, button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    h2 {
        font-size: 23px;
        color: black;
        font-weight: 450;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }

    h3 {
        color: rgb(104, 104, 104);
    }
    form > label  {
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 95px;
        margin-bottom: 5px;
        input {
        width: 250px;
        padding: 12px 20px;
        margin: -7.5px 0;
        border-width: 1px;
        border-radius: 3px;
        }
    }

    form > p {
        font-size:14px;
        color: red;
    }
    #submit-form, button {
        color:white;
        background:  #2072ca;
        width: 285px;
        padding: 15px;
        border-width: 0px;
        border-radius: 20px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;;
    }

    #submit-form:hover, button:hover {
            background-color: #12447a;
            cursor: pointer;
    }
    
    .link {
        color: #2977c9;
        font-weight: bold;
        text-decoration: none;
    }
}