#logo-form {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75px;
    height: auto;
}

.session-form {
    background-color: white;
    padding: 100px;
    font-family: sans-serif;
    h2, h3, form > input, p, button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    input {
        text-align: left;
    }

    h2 {
        font-size: 23px;
        color: black;
        font-weight: 450;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }

    h3 {
        color: rgb(104, 104, 104);
        font-weight: lighter;
    }

    form > p {
        font-size:14px;
        color: red;
    }
    #submit-form, button {
        color:white;
        background:  #2072ca;
        width: 285px;
        padding: 15px;
        border-width: 0px;
        border-radius: 40px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;;
    }

    #submit-form:hover, button:hover {
            background-color: #12447a;
            cursor: pointer;
    }

    #submit-form:focus {outline:0;}
    
    .link {
        color: #2977c9;
        font-weight: bold;
        text-decoration: none;
    }
}

.sign-in {
    label {
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 95px;
        margin-bottom: 5px;
        input {
        width: 255px;
        padding: 11px;
        margin: -10px 0;
        border-width: 1px;
        border-radius: 3px;
        font-size: 17px;
        }
    }
    :nth-child(7) {
        padding-left: 10px;
    }
    .hide {
        display: none;
    }
}

.sign-up {
    label {
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 82px;
        margin-bottom: 5px;
        input {
        width: 250px;
        padding: 7px;
        margin: -6.5px 0;
        border-width: 1px;
        border-radius: 3px;
        font-size: 15px;
        }
    }

    :nth-child(3) {
        padding-left: 9px;
    }
    :nth-child(5) {
        padding-left: 6px;
    }
    :nth-child(7) {
        padding-left: 8.8px;
    }
}