.nav-bar {
    display: inline-block;
    position: sticky;
    top: 0px;
    left:0px;
    z-index:1000;
    width: 100%;
    background: transparent;
    
    #logo-navbar {
        float: left;
        margin-top: 2px;
        margin-left: 30px;
        width: 90px;
        height: auto;
    }

    button { 
        float: right;
        background-color: transparent;
        border-width: 0px;
        color: #666666;
        span {
            font-size: 12.5px;

        }
    }
    button:hover {
        cursor: pointer;
        > *{
            color: black;
        }
    }

}