.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 55px;
    background:white;
    border-bottom: .5px solid rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;

    button { 
        text-align: center;
        float: right;
        margin-top: 6px;
        margin-right: 30px;
        display: block;
        background-color: transparent;
        border-width: 0px;
        color: #666666;
        span {
            font-size: 12.5px;
        }
        // cursor: pointer;
    }

    button:hover {
        
        > *{
            color: black;
            cursor: pointer;
        }
    }

    #logo-navbar {
        float: left;
        margin-top: 7px;
        margin-left: 30px;
        img {
           width: 90px;
        height: auto; 
        }
    }

}

#gap {
    display: block;
    width: 100%;
    top: 0;
    height: 70px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}

.revealed {
    text-align: left;
    float: left;
    span {
        float: right;
        font-size: 20px;
    }
    display: block;
    position: absolute;
    right: -10px;
    top: 55px;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
