.network{
    display:block;
    margin: auto;
    position: relative; 
    width: 1128px;
    
    margin-top: 10px;
    left: 50px;
    font-family:sans-serif;
    h1 {
        font-size: 16px;
        padding: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
    }
    
    .profile-img {
        border-radius: 100px;
        box-sizing: border-box;
    }
    .link {
        display: inline;
        position: absolute;
        margin-top: 10px;
        margin-right: 37.5px;
        text-align: center;
        font-weight: 500;
        align-items: center;
        align-content: center;
        font-size:17px;
        width: 180px;
        p {
            margin:auto;
        }
        
    }

    // .hide {
    //     display: none;
    // }
    
    .loading {
    margin-left: 375px;
    }
    .connected {
        margin-bottom: 20px;
        width: 785px;
        min-height: 50px;
        -webkit-box-shadow: 0 0 1.5px rgb(167, 167, 167);
        box-shadow: 0 0 1.5px rgb(167, 167, 167);
        border-radius: 10px;
        background-color: white;
        padding-left: 15px;
        
        padding-bottom: 20px;
        .profile-block, .exp-block {
            justify-items: center;
            display: inline-grid;
            margin:5px;
            width: 180px;
            height: 200px;
            -webkit-box-shadow: 0 0 1.5px rgb(167, 167, 167);
            box-shadow: 0 0 1.5px rgb(167, 167, 167);
            border-radius: 10px;
            p {
                text-align: center;
            }
            .cover {
                width:100%;
                height: 60px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display:inline;
            }
            .headline {
                font-size: 14.5px;
                color: rgb(128, 128, 128);
                font-weight: 300;
                width: 87.5%;
                margin-top: 2.5px;
            }
        }
        .exp-block {
            width: 119px;
            height: 130px;
            .cover {
                height: 40px;
            }
            .logo-img{
                background-color: white;
            }
            p {
                font-size: 14px;
            }
            .link {
                font-family:sans-serif;
                display: inline;
                position: absolute;
                margin-top: 10px;
                text-align: center;
                font-weight: 500;
                align-items: center;
                align-content: center;
                width: 119px;
                p {
                    margin:auto;
                }
        
    }
        }
    }


    .suggested {

        width: 785px;
        min-height: 50px;
        -webkit-box-shadow: 0 0 1.5px rgb(167, 167, 167);
        box-shadow: 0 0 1.5px rgb(167, 167, 167);
        border-radius: 10px;
        background-color: white;
        padding-left: 15px;
        padding-bottom: 20px;
        
        .profile-block {
            display: inline-grid;
            margin:5px;
            width: 180px;
            height: 260px;
            border: 1px solid rgb(230, 230, 230);
            border-radius: 10px;
            p {
                text-align: center;
            }
            .cover {
                width:100%;
                height: 60px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display:inline;
            }
            .headline {
                margin-top: 2.5px;
                font-size: 14.5px;
                color: rgb(128, 128, 128);
                font-weight: 300;
                width: 87.5%;
            }
            button {
            font-family: Sans-Serif;
            background-color: transparent;
            color: #2977c9;
            font-weight: 600;
            border-color: #2977c9;
            border-width: 1px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius:50px;
            height: 7.5px;
            text-align: center;
            padding-bottom: 17.5px;
            width:125px;
            margin-top: 115px;
            margin-left: 12px;
            }

            button:hover {
                border-color:  #2977c9;
                background-color:  #e3eefa;
                border-width: 2px;
                margin: -2px;
                margin-top: 113px;
                margin-left: 11px;
                margin-right: 11px;
                cursor: pointer;
            }

        }
        margin-bottom: 30px;
    }
}